.meetings{
  position: relative;
  /* padding-bottom: 10rem; */
  
}
.meetings .image img{
  position: fixed;
  top: 0rem;
  height: 100%;
  z-index: -1;
}
.meetings .cards{
  position: absolute;
  top: -11rem;
  /* left: 8%; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
 
  
  
}
.meetings .cards .card{
  background-image: url('/assets/service-item-bg.jpg');
  width: 35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  border-radius: 1rem;
}
.meetings .cards .card .icon img{
  width: 50px;
  height: 50px;
  /* position: fixed; */
}
.meetings .cards .card h2{
  color: #fff;
  font-size: 1.9rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.meetings .cards .card p{
  color: #fff;
  font-size: 1.5rem;
  line-height: 1.7;
  text-align: center;
}
.meetings .container{
  max-width: 1150px;
  margin: 0 auto;
}
.meetings .meeting{
  position: absolute;
  top: 30rem;
}
.meetings .meeting h1{
  color: #fff;
  text-align: center;
  font-size: 2.5rem;
  text-transform: uppercase;
  padding-bottom: 2rem;
  border-bottom: 1px solid rgb(82, 80, 80);
  display: block;
  /* width: 110rem; */
  margin-bottom: 4rem;
}
.meetings .meeting .testimonials{
  max-width: 1150px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5rem;
  padding-bottom: 10rem;
}
.meetings .meeting .testimonials .first{
  flex: 1 1 20%;
  background-color: #fff;
  /* width: 10rem; */
  height: 45rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 3rem;
  border-radius: 3rem;
}
.meetings .meeting .testimonials .first h2{
  font-size: 2rem;
}
.meetings .meeting .testimonials .first ul li a{
  font-size: 1.5rem;
  color: #000;
}
.meetings .meeting .testimonials .first ul li{
  padding: 1rem 0;
}

.meetings .meeting .testimonials .second{
  flex: 1 1 60%;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}
.meetings .meeting .testimonials .second .test{
  background-color: #fff;
  border-radius: 1.5rem;
  position: relative;
  
}
.meetings .meeting .testimonials .second .test img{
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}
.meetings .meeting .testimonials .second .test .inner{
  display: flex;
  padding: 3rem;
  gap: 2rem;
  /* #a12c2f */
}
.meetings .meeting .testimonials .second .test .inner .date h2{
  color: #a12c2f;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.meetings .meeting .testimonials .second .test .inner .date p{
  font-size: 2rem;
  font-weight: bold;

}

.meetings .meeting .testimonials .second .test .inner .text h2{
  font-size: 1.9rem;
  margin-bottom: 1rem;
}
.meetings .meeting .testimonials .second .test .inner .text p{
  font-size: 1.5rem;
}

.meetings .meeting .testimonials .second .test span{
  position: absolute;
  top: 1rem;
  left: 2rem;
  color: #000;
  font-size: 1.7rem;
  background-color: rgba(250,250,250,0.9);
  padding: .5rem 1rem;
  border-radius: .9rem;
  font-weight: bold;
}